<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Melihat daftar aplikasi terinstal untuk dipilih user (build personal, bukan Play Store) -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <!-- Untuk mengabaikan optimasi baterai agar listener tetap hidup -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- Untuk notifikasi status sinkronisasi (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".DompetNotifApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DompetNotif">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.DompetNotif">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.WebLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.DompetNotif" />

        <!-- INTI APLIKASI: menangkap notifikasi dari aplikasi lain.
             Izin "Notification access" harus diberikan manual oleh user
             di Settings > Apps > Special app access > Notification access. -->
        <service
            android:name=".service.TxnListenerService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- FileProvider untuk berbagi file export CSV/JSON -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
